@font-face { 
	font-family: signikaff; 
	src: url('../fonts/Signika-Light.otf'); 
	font-weight: normal;
}
@font-face { 
	font-family: signikaff; 
	src: url('../fonts/Signika-Bold.otf'); 
	font-weight: bold;
} 