/*s:basic*/
.fl { float:left; }
.fr { float:right; }
.block {display: block;}
.inline {display: inline-block;}

/*e:basic*/

/*s:clearfix*/
.clearfix {
	clear: both !important;
	height: 0 !important;
	padding: 0;
	float: none !important;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both !important;
  visibility: hidden;
}
* html .clearfix { height: 1%; }  /* Clearfix IE6 */
*:first-child + html .clearfix {  min-height: 1px; } /* Clearfix IE7 */
/*e:clearfix*/

/*s:fontstyle*/
.bold {font-weight: bold;}
.normal {font-weight: normal;}
.italic {font-style: italic;}
/*e:fontstyle*/

/*s:fonttype*/
.arial {	font-family:Arial, Helvetica, sans-serif;}
.tahoma {	font-family:Tahoma, Geneva, sans-serif, arial;}
.verdana {	font-family:Verdana, Geneva, sans-serif, arial;}
.helvetica {	font-family:Helvetica, Arial, sans-serif, arial;}
.georgia { 	font-family:Georgia, "Times New Roman", Times, serif, arial;}
/*e:fonttype*/

/*s:heading*/
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight:normal;
}
/*e:heading*/


/*s:fontsize*/
.f9 { font-size:9px;}
.f10 { font-size:10px;}
.f11 { font-size:11px;}
.f12 { font-size:12px;}
.f13 { font-size:13px;}
.f14 { font-size:14px;}
.f15 { font-size:15px;}
.f16 { font-size:16px;}
.f18 { font-size:18px;}
.f20 { font-size:20px;}
.f22 { font-size:22px;}
.f24 { font-size:24px;}
.f28 { font-size:28px;}
.f30 { font-size:30px;}
/*e:fontsize*/

/*s:text-align*/
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
/*e:text-align*/


/*s:padding & margin*/
.pd5 {padding: 5px;}
.pd7 {padding: 7px;}
.pd10 {padding: 10px;}
.pd15 {padding: 15px;}
.pd20 {padding: 20px;}
.pd25 {padding: 25px;}
.pd30 {padding: 30px;}

.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}

.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}

.pt5 {padding-top:5px;}
.pt10 { padding-top:10px;}
.pt15 { padding-top:15px;}
.pt20 { padding-top:20px;}
.pt25 { padding-top:25px;}
.pt30 { padding-top:30px;}

.pb5 { padding-bottom:5px;}
.pb10 { padding-bottom:10px;}
.pb15 { padding-bottom:15px;}
.pb20 { padding-bottom:20px;}
.pb25 { padding-bottom:25px;}
.pb30 { padding-bottom:30px;}

.m0 {margin: 0 !important;}
.p0 {padding: 0 !important;}

.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}

.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}

.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb25{margin-bottom:25px;}
.mb30{margin-bottom:30px;}
/*e:padding & margin*/


/*s:fontcolor*/
.l_grey, 
.l_grey a { color:#666; text-decoration:none;}
.l_grey a:hover { text-decoration:underline;}

.l_red, 
.l_red a { color: #F00; text-decoration:none;}
.l_red a:hover { text-decoration:underline;}

.l_blue, 
.l_blue a { color: #003c8e; text-decoration:none;}
.l_blue a:hover { color:#003c8e; text-decoration:underline !important; }

.l_yellow, 
.l_yellow a { color: #e3e310; text-decoration:none;}
.l_yellow a:hover { color: #e3e310; text-decoration:underline;}

.l_white, 
.l_white a { color: #FFF; text-decoration:none;}
.l_white a:hover { color: #FFF; text-decoration:underline;}

.l_green, 
.l_green a { color:#005D00; text-decoration:none;}
.l_green a:hover { color: #005D00; text-decoration:underline;}

.l_black, 
.l_black a { color:black; text-decoration:none;}
.l_black a:hover { color: black; text-decoration:underline;}
/*e:fontcolor*/

/*S:BACKGROUND COLOR*/
.bg_black {background: #000;}
.bg_white {background: #fff;}
/*E:BACKGROUND COLOR*/

/*s:border radius*/
.bor-rad3 {
	-webkit-border-radius: 3px ;
	border-radius: 3px ;
}
.bor-rad5 {
	-webkit-border-radius: 5px ;
	border-radius: 5px ;
}
.bor-rad8 {
	-webkit-border-radius: 8px ;
	border-radius: 8px ;
}
.bor-rad10 {
	-webkit-border-radius: 10px ;
	border-radius: 10px ;
}
.bor-rad15 {
	-webkit-border-radius: 15px ;
	border-radius: 15px ;
}
.bor-rad20 {
	-webkit-border-radius: 20px ;
	border-radius: 20px ;
}
/*e:border radius*/

/*s:width & height*/
.w0 {width: auto !important;}

.w100p { width:100%;}
.w90p { width:90%;}
.w50p { width:50%;}
.w45p { width:45%}
.w40p { width:40%}
.w30p { width:30%}
.w25p { width:25%}

.w50 { width:50px;}
.w70 { width:70px;}
.w80 { width:80px;}
.w100 { width:100px;}
.w125 { width:125px;}
.w150 { width:150px;}
.w175 { width:175px;}
.w200 { width:200px;}
.w210 { width:210px;}
.w220 { width:220px;}
.w225 { width:225px;}
.w250 { width:250px;}
.w275 { width:275px;}
.w300 { width:300px;}
.w320 { width:320px;}
.w325 { width:325px;}
.w350 { width:350px;}
.w400 { width:400px;}
.w450 { width:450px;}
.w475 { width:475px;}
.w500 { width:500px;}
.w550 { width:550px;}
.w600 { width:600px;}
.w650 { width:650px;}
.w700 { width:700px;}
.w750 { width:750px;}
.w800 { width:800px;}
.w850 { width:850px;}
.w900 { width:900px;}
.w950 { width:950px;}
.w980 { width:980px;}

.h0 { height:auto !important;}

.h100p { height: 100%;}
.h50p {height: 50%;}

.h50 { height:50px;}
.h100 { height:100px;}
.h150 { height:150px;}
.h200 { height:200px;}
.h250 { height:250px;}
.h300 { height:300px;}
/*e:width & height*/

/*S:GRID*/
.g2>div,
.g3>div,
.g4>div,
.g5>div,
.g6>div {
	margin: 5px;
	float: left;
}
.g2>div {
	width: calc(50% - 10px);
}
.g3>div {
	width: calc(33.3% - 10px);
}
.g4>div {
	width: calc(25% - 10px);
}
.g5>div {
	width: calc(20% - 10px);
}
.g6>div {
	width: calc(16.6% - 10px);
}
/*E:GRID*/

/*S:TABLE*/
.table, 
.table2 {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}
.table thead {
	background: #e1e1e1;
	font-weight: bold;
}
.table thead tr, 
.table2 thead tr  {
	border-bottom: 1px solid #ccc;
}
.table td, 
.table th, 
.table2 td, 
.table2 th {
	padding: 8px;
}
.table tr:nth-child(even) {
	background: #f2f2f2;
}
.table tr:hover,
.table2 tr:hover {
	background: #f7f7f7;
}
.table_border {
	border: 1px solid #ccc;
}
.table_border td {
	border-bottom: 1px solid #ccc;
}
.table_line td {
	border-bottom: 1px solid #ccc;
}
/*E:TABLE*/

/*S:IMAGES*/
.imgx {
	overflow: hidden;
	display: inline-block;
	text-align: center;
	float: left;
	background: #f7f7f7;
}
.img60 {
	width: 60px;
	height: 45px;
}
.img60w {
	height: 34px;
}
.img60s {
	height: 60px;
}
.img80 {
	width: 80px;
	height: 60px;
}
.img80w {
	height: 45px;
}
.img80s {
	height: 80px;
}
.img120 {
	width: 120px;
	height: 90px;
}
.img120w {
	height: 68px;
}
.img120s {
	height: 120px;
}
.img240 {
	width: 240px;
	height: 180px;
}
.img240w {
	height: 135px;
}
.img240s {
	height: 240px;
}
.img300 {
	width: 300px;
	height: 225px;
}
.img300w {
	height: 169px;
}
.img300s {
	height: 300px;
}
.img60 img, 
.img80 img, 
.img120 img,
.img240 img,
.img300 img {
	height: 100%;
}
.img_border {
	border: 5px solid white;
	-webkit-box-shadow: 0 0 1px #b0b0b0;
	-moz-box-shadow: 0 0 1px #b0b0b0;
	box-shadow: 0 0 1px #b0b0b0;
}
.box_img{
	display: inline-block;
	position:  relative;
	width: 100px;
}
.box_img:before{
	content: "";
	display: block;
	padding-top: 100%; /* initial ratio of 1:1*/
}
/* Other ratios */
.ratio2_1:before{
	padding-top: 50%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio3_4:before{
	padding-top: 133%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}
.ratio9_16:before{
	padding-top: 178%;
}
.ratio9_8:before{
	padding-top: 85%;
}
.img_con{
	/* Positioning */
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	/* Styling */
	background: black;
	text-align: center;
	vertical-align: center;
	text-transform: uppercase;
	color: #fff;
	overflow: hidden;
}
.img_con img {
	height: 100%;
}
.img_con span{
	font-weight: bold;
	font-size: 3em;
	display: block;
}
/*E:IMAGES*/

/*S:NOTIFICATION BOX*/
.bx_nt {
	padding: 5px 8px;
	border: 1px solid #dbe465;
	background: #fffed8;
	font-size: 12px;
	color: #4d4d4d;
	margin: 5px 0;
}
.bx_nt .tl {
	display: block;
	font-size: 15px;
	color: #a4a23e;
}
.bx_nt_blue {
	background: #dbecff;
	border-color: #cfe2ff;
}
.bx_nt_blue .tl {
	color: #476ecd;
}
.bx_nt_green {
	background: #d5ffcf;
	border-color: #a2da99;
}
.bx_nt_green .tl {
	color: #1c860a;
}
.bx_nt_red {
	background: #ffd2d4;
	border-color: #e199a5;
}
.bx_nt_red .tl {
	color: #cb6c72;
}
/*E:NOTIFICATION BOX*/

/*S:LABEL*/
.label_small {
	display: inline-block;
	padding: 2px 3px;
	font-size: 11px;
	background: #ccc;
}
.label_med {
	display: inline-block;
	padding: 3px 5px;
	font-size: 13px;
	background: #ccc;
}
.label_large {
	display: inline-block;
	padding: 3px 5px;
	font-size: 16px;
	background: #ccc;
}
.label_red {
	background: red;
	color: white;
}
.label_blue {
	background: #06439e;
	color: white;
}
.label_yellow {
	background: yellow;
}
.label_orange {
	background: orange;
}
.label_green {
	background: green;
	color: white
}
/*E:LABEL*/

/*S:TAB*/
.tab a {
	float: left;
	padding: 10px 20px;
	border: 1px solid #dadada;
	margin-right: 2px;
	color: #333;
	text-decoration: none;
	z-index: 2;
	position: relative;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	background: #f5f5f5;
	text-align: center;
}
.tab2 a {
	width: calc(50% - 4px);
	padding: 10px 0;
}
.tab3 a {
	width: calc(33.3% - 4px);
	padding: 10px 0;
}
.tab4 a {
	width: calc(25% - 4px);
	padding: 10px 0;
}
.tab a.selected, .tab a.selected:hover {
	border-bottom: 1px solid #fff;
	background: #fff;
}
.tab a:hover {
	background: #ececec;
}
.tab_content {
	border-top: 1px solid #dadada;
	z-index: 1;
	position: relative;
	margin-top: -1px;
	padding: 10px;
}
/*E:TAB*/

/*S:PAGING*/
.paging {
	margin: 5px 0;
}
.paging a {
	display: inline-block;
	padding: 6px 10px;
	color: #767676;
	background: #ececec;
	text-decoration: none;
	font-size: 11px;
}
.paging a:hover {
	background: #dddddd;
}
.paging a.selected {
	background: #c1c1c1;
	color: #fff;
}
.paging a.range {
	background: none;
}
.paging2 a {
	background: none;
	border-bottom: 2px solid #eeeeee;
}
.paging2 a.selected {
	border-color: #ff0000;
	background: none;
	color: #ff0000;
}
/*E:PAGING*/


#tooltip, #preview{
	position:absolute;
	border:1px solid #E6E6E6;
	background:#ffffc9;
	padding:2px;
	color:#333;
	display:none;
	text-align:center;
	font-size:12px;
}	


/* Default styling for jQuery Datepicker v4.0.5. */
.datepick {
	background-color: #fff;
	color: #000;
	font-family: Arial,Helvetica,Sans-serif;
	font-size: 11px !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 3px solid #000;
}
.datepick-rtl {
	direction: rtl;
}
.datepick-popup {
	z-index: 1000;
	opacity:0.9;
	width:250px;
}
.datepick-disable {
	position: absolute;
	z-index: 100;
	background-color: white;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.datepick a {
	color: #fff;
	text-decoration: none;
}
.datepick a.datepick-disabled {
	color: #888;
	cursor: auto;
}
.datepick button {
    margin: 0.25em;
    padding: 0.125em 0em;
    background-color: #fcc;
    border: none;
    border-radius: 0.25em;
    -moz-border-radius: 0.25em;
    -webkit-border-radius: 0.25em;
    font-weight: bold;
}
.datepick-nav, .datepick-ctrl {
	float: left;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 90%;
	font-weight: bold;
}
.datepick-ctrl {
	background-color: #600;
}
.datepick-cmd {
	width: 20%;
}
.datepick-cmd:hover {
	background-color: #777;
}
.datepick-ctrl .datepick-cmd:hover {
	background-color: #f08080;
}
.datepick-cmd-prevJump, .datepick-cmd-nextJump {
	width: 8%;
}
a.datepick-cmd {
	padding: 5px 8px;
	display: inline-block;
}
button.datepick-cmd {
	text-align: center;
}
.datepick-cmd-prev, .datepick-cmd-prevJump, .datepick-cmd-clear {
	float: left;
	padding-left: 2%;
}
.datepick-cmd-current, .datepick-cmd-today {
	float: left;
	width: 30%;
	text-align: center;
}
.datepick-cmd-next, .datepick-cmd-nextJump, .datepick-cmd-close {
	float: right;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-prev, .datepick-rtl .datepick-cmd-prevJump,
.datepick-rtl .datepick-cmd-clear {
	float: right;
	padding-left: 0%;
	padding-right: 2%;
	text-align: right;
}
.datepick-rtl .datepick-cmd-current, .datepick-rtl .datepick-cmd-today {
	float: right;
}
.datepick-rtl .datepick-cmd-next, .datepick-rtl .datepick-cmd-nextJump,
.datepick-rtl .datepick-cmd-close {
	float: left;
	padding-left: 2%;
	padding-right: 0%;
	text-align: left;
}
.datepick-month-nav {
	float: left;
	text-align: center;
}
.datepick-month-nav div {
	float: left;
	width: 12.5%;
	margin: 1%;
	padding: 1%;
}
.datepick-month-nav span {
	color: #888;
}
.datepick-month-row {
	clear: left;
}
.datepick-month {
	float: left;
	width: 15em;
	text-align: center;
}
.datepick-month-header, .datepick-month-header select, .datepick-month-header input {
	background-color: #444;
	color: #fff;
	font-weight: bold;
	padding: 5px;
}
.datepick-month-header select, .datepick-month-header input {
	height: 1.4em;
	border: none;
}
.datepick-month-header input {
	position: absolute;
	display: none;
}
.datepick-month table {
	width: 100%;
	border-collapse: collapse;
	font-size:11px;
}
.datepick-month thead {
	border-bottom: 1px solid #aaa;
}
.datepick-month th, .datepick-month td {
	text-align: center;
	margin: 0;
}
.datepick-month th {
	border: 1px solid #777;
}
.datepick-month th, .datepick-month th a {
	background-color: #777;
	color: #fff;
}
.datepick-month td {
	background-color: #eee;
	border: 1px solid #FFFFFF;
}
.datepick-month td.datepick-week {
	border: 1px solid #777;
}
.datepick-month td.datepick-week * {
	background-color: #777;
	color: #fff;
	border: none;
}
.datepick-month a {
	display: block;
	width: 100%;
	padding: 3px 0px;
	background-color: #eee;
	color: #000;
	text-decoration: none;
}
.datepick-month span {
	display: block;
	width: 100%;
}
.datepick-month td span {
	color: #888;
}
.datepick-month td .datepick-other-month {
	background-color: #fff;
}
.datepick-month td .datepick-weekend {
	background-color: #ddd;
}
.datepick-month td .datepick-today {
	background-color: #f0c0c0;
}
.datepick-month td .datepick-highlight {
	background-color: #f08080;
}
.datepick-month td .datepick-selected {
	background-color: #777;
	color: #fff;
}
.datepick-month th.datepick-week {
	background-color: #777;
	color: #fff;
}
.datepick-status {
	clear: both;
	background-color: #ddd;
	text-align: center;
}
.datepick-clear-fix {
	clear: both;
}
.datepick-cover {
    display: none;
    display/**/: block;
    position: absolute;
    z-index: -1;
    filter: mask();
    top: -1px;
    left: -1px;
    width: 100px;
    height: 100px;
}


/*S:MODAL BOX*/
.box_modal {
	cursor: pointer;
}
.pop_box {
	background: rgba(0,0,0,0.4);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-align: center;
	z-index: 999;
}
.pop_box .pop_box_content {
	padding: 20px;
	background: #fff;
	width: 500px;
	position: relative;
	margin: 0 auto;
	top: 15%;
}
.pop_box iframe {
	position: relative;
}
.close_box, 
.close_box_style {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	padding: 5px 8px;
	background: #f4f4f4;
	cursor: pointer;
}
/*E:MODAL BOX*/

/*TOOLTIPS*/
#tooltip, #preview {
	position:absolute;
	border:1px solid #E6E6E6;
	background:#ffffc9;
	padding:2px;
	color:#333;
	display:none;
	text-align:center;
	font-size:12px;
}

.tipr_content
{
     font: 12px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
     color: #fff; 
     background-color: #222;
     padding: 3px 10px;
	 border-radius: 4px;
}
.btn:hover .tipr_content,
.btn:active .tipr_content,
.btn:focus .tipr_content {
	opacity: 1;
	filter: alpha(opacity=100);
}
.tipr_container_bottom,
.tipr_container_top,
.tipr_container_left,
.tipr_container_right {
	position: absolute;
	display: none;
	z-index: 1000;
}
.tipr_container_bottom
{
     margin-top: 10px;
}
.tipr_container_top
{
}
.tipr_container_left
{
	 padding-right: 6px;
}
.tipr_container_right
{
	 margin-left: 10px;
}
.tipr_point_top,
.tipr_point_bottom,
.tipr_point_left,
.tipr_point_right  
{
    position: relative;
	color: #fff;
}
.tipr_point_right:after,
.tipr_point_right:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_right:after
{
	border-right-color: #222;
	border-width: 6px;
	left: -8px;
	top: 25%;
	margin-left: -4px;
}
.tipr_point_right:before 
{
	border-width: 4px;
	margin-left: -6px;
}
.tipr_point_left:after,
.tipr_point_left:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_left:after
{
	border-left-color: #222;
	border-width: 6px;
	right: -8px;
	top: 25%;
	margin-right: -4px;
}
.tipr_point_left:before 
{
	border-width: 4px;
	margin-right: -6px;
}
.tipr_point_top:after,
.tipr_point_top:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_top:after
{
	border-top-color: #222;
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
}
.tipr_point_top:before 
{
	border-width: 4px;
	left: 50%;
	margin-left: -4px;
}
.tipr_point_bottom:after,
.tipr_point_bottom:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	bottom: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_bottom:after
{
	border-bottom-color: #222;
	border-width: 6px;
	left: 50%;
	margin-left: -6px;
}
.tipr_point_bottom:before 
{
	border-width: 4px;
	left: 50%;
	margin-left: -4px;
}
