@media screen and (max-width: 500px) {
	body {
		width: 100%;
		overflow-x: hidden;
	}
	.container,
	.top-pos ul {
		width: 100%;
	}
	#header.smaller,
	#header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 50px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
		-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.39);
		box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.39);
		-webkit-animation: move_bot 0.3s;
		/* Chrome, Safari, Opera */
		animation: move_bot 0.3s;
		top: 0;
		z-index: 4;
	}
	#header.smaller .logo,
	#header .logo {
		height: 50px;
		float: left;
		margin-top: 0;
		margin-left: 10px;
	}
	#header.smaller .logo img,
	#header .logo img {
		width: 250px;
		height: 40px;
	}
	.language-box,
	.nav {
		display: none;
	}
	@-webkit-keyframes move_bot {
	  /* line 500, ftf.style.scss */
	  from {
	    top: 0;
	  }
	}

	.menu-mobile {
		position: fixed;
		right: 10px;
		top: 15px;
		width: 20px;
		display: block;
		padding: 10px;
		z-index: 4;
	}
	.menu-mobile span {
		width: 100%;
		height: 4px;
		background: #000;
		display: block;
		margin-bottom: 4px;
	}
	.cover {
		height: 400px;
	}
	.cover .text {
		width: 80%;
		left: 10%;
	}
	.howto .h1 {
		width: calc(100% - 50px);
	}
	.howto .h1 img {
		margin-left: 0;
		width: 80%;
	}
	.howto .title {
		display: block;
		width: 100%;
	}
	.prize img {
		height: auto;
		width: 80%;
	}
	.img_gal .box_img {
		width: 50%;
	}
	.container2 {
		width: 100%;
	}
	.top-pos {
		padding: 0px 15px;
	}
	.detail_text {
		padding: 15px 20px;
	}
	#footer .container {
		width: calc(100% - 30px);
		padding: 0 15px;
	}
	#header.nav-on .overlay2 {
		position: fixed;
		z-index: 3;
		background: rgba(0,0,0,0.5);
		top: 80px;
		left: 0;
		width: 100%;
		height: 100%;
	}
	#header.nav-on .nav {
		display: block;
		-webkit-animation: move_menu 0.3s;
		/* Chrome, Safari, Opera */
		animation: move_menu 0.3s;
	}
	@-webkit-keyframes move_menu {
	  from {
	    opacity: 0;
	  }
	  to {
	  	opacity:1;
	  }
	}
	.menu-on {
		display: none;
	}
	#header.nav-on .nav {
		width: 100%;
		background: #fff;
		z-index: 4;
		padding-left:0;
		right: 0;
		height: auto;
		border-bottom: 1px solid #F0F0F0;
		position: absolute;
		top: 60px;

	}
	#header.nav-on .nav a {
		display: block;
		width: 100%;
		height: 40px;
		line-height: 40px;
		background: #fff;
		position: relative;
		float:none;
		font-weight: bold;
		border-top: 1px solid #F0F0F0;
		font-size: 13px;
		padding-top: 0;
		padding-left: 30px;
		cursor: pointer;
		text-align: left;
	}
	#header.nav-on .language-box {
		display: block;
		width: 100%;
		right: 0;
		top: 237px;
		z-index: 5;
		border: 0;
		border-top: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		background: #fff;
	}
	#header.nav-on .language-box .selectbox {
		border: 0;
		padding-left: 30px;
		height: 40px;
		line-height: 40px;
		width: calc(100% - 80px);
		display: block;

	}
	#header.nav-on .language-box .box-select {
		width: 100%;
		width: calc(100% - 60px);
		border: 0 !important;
		padding: 10px 30px;
	}
	.form {
		width: calc(100% - 40px);
		padding: 0 20px;
	}
	#header2 {
		line-height: 100%;
		text-align: center;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
		-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.39);
		box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.39);
		color: #000;
	}
	#header2 .img-cover{
		display: none;
	}
	#header2 .logo {
		height: 30px;
		float: none;
		display: inline-block;
	}
	#header2 .logo img {
		height: 100%;
	}
	#header2 .title {
		display: block;
		text-align: center;
	}
	.img-profil img {
		height: 100%;
	}
	.quiz_con2,
	.quiz_finish {
		width: calc(100% - 30px);
		padding: 0 15px;
		font-size: 14px;
	}
	.quiz_con2 .q {
		font-size: 20px;
	}
	.quiz_con2 .a label {
		font-size: 14px;
		line-height: 130%;
	}
	.hints {
		word-break: break-all;
	}
	.quiz_finish .container .title {
		line-height: 100%;
		font-size: 32px;
	}
	.quiz_finish .img-cover, .quiz_finish .overlay {
		position: fixed;
	}
	.login-area {
		display: none;
	}
	#how .desc {
		padding: 0 15px;
	}
	.logo2 {
		height: 50px;
	}
	.quiz_finish .container .logo {
		height: 50px;
		margin-bottom: 30px;
	}
	.quiz_finish .container .title {
		display: none;
	}

}
