body {
	padding: 0;
	margin: 0;
	font-family: signikaff, helvetica, arial;
	font-size: 16px;
	line-height: 140%;
	background: #fff;
}
.container {
	width: 1000px;
	margin: 0 auto;
}
.container2 {
	width: 800px;
	margin: 0 auto;
}
#header {
	padding: 15px 0;
	position: relative;
	z-index: 3;
	background:#fff;
}
#header .container,
#header2 .container {
	position: relative;
	width: 100% !important;
}
#header .logo {
	height: 100px;
	float:left;
	margin-left: 25px;
}
#header .logo  img {
	height: 100%;
}
#header .nav {
	right: 10px;
	position: absolute;
	bottom: 20px;
}
#header .nav a {
	float: left;
	padding: 0 15px;
	color: #000;
	text-decoration: none;
}
#header .nav a:hover {
	text-decoration: underline;
}

#header2 {
	height: 100px;
	line-height: 100px;
	background-size: cover;
	position: relative;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	overflow: hidden;
}
#header2 .img-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
#header2 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0,0,0,0.3);
}
#header2 .container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	z-index: 3;
}
#header2 .logo {
	float: left;
	padding-top: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#header2 .logo img {
	height: 50%;
}
.cover {
	width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
}
.img {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	position: absolute;
}
.img img {
	width: 100%;
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: rgba(0,0,0,0.4);
}
.cover .text {
	width: 50%;
	margin: 0 auto;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 25%;
	z-index: 3;
	text-align: center;
	height: 100px;
	margin-top: -50px;
	font-size: 16px;
}
.cover .text h1 {
	font-weight: bold;
	font-size:32px;
	padding-bottom: 20px;
}
.section {
	padding: 30px 0;
	text-align: center;
}
.section h2 {
	font-size: 32px;
	font-weight: bold;
	line-height: 140%;
	padding-bottom: 20px;
}
#footer {
	padding: 30px 0;
	border-top: 1px solid #F0F0F0;
	text-align: center;
}

.s_cover {
	color: #fff;
	background: orange;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.s_cover .text {
	position: relative;
	z-index: 2;
}
.s_cover .img_bg {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 200px;
	z-index: 1;
}
.s_cover .img_bg img {
	height: 100%;
}
.s_cover h1 {
	font-size: 32px;
	font-weight: bold;
	margin: 80px 0;
}
.s_komodo {
	background: rgb(237,120,54); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(237,120,54,1) 0%, rgba(205,50,118,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, rgba(237,120,54,1) 0%,rgba(205,50,118,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, rgba(237,120,54,1) 0%,rgba(205,50,118,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed7836', endColorstr='#cd3276',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.btn_start {
	padding: 10px 25px;
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
	background: #FF9F00;
	color: #fff;
	text-decoration: none;
	margin-top: 30px;
	border:0;
	font-family: signikaff, helvetica, arial;
	cursor: pointer;
}
.btn_start:hover {
	background: #F25A2B;
}
.quiz_con {
	padding: 20px 0;
	text-align: center;
	width: 800px;
	margin: 0 auto;
}
.quiz_con .title {
	font-size:20px;
	font-weight: bold;
	padding-bottom: 15px;
}
.profil {
	width: 200px;
	height: 150px;
	border-radius: 100px;
	margin: 0 auto;
	position: relative;
	text-align: center;
}
.img-profil {
	width: 150px;
	height: 150px;
	display: inline-block;
	border-radius: 100px;
	overflow:hidden;
	position: relative !important;
}
.form {
	width: 300px;
	margin: 0 auto;
	margin-top: 15px;
}
.form strong {
	font-size:14px;
	margin-top: 20px;
	display: block;
	margin-bottom: 3px;
}
.form .infogender {
	width: 200px;
	margin: 0 auto;
}
.form .gender {
	width: 50%;
	float: left;
	text-align: left;
}
.form .gender .check {
	float: left;
	width: 20px;
	height: 20px;
	background-image: url(../images/check.png);
	background-size:cover; 
	margin-right: 10px;
}
.form .gender.selected .check {
	background-image: url(../images/check_selected.png);
}
.form .gender input {
	display: none;
}
.clearfix {
	clear: both !important;
}
.pt20 {
	padding-top: 20px;
}
.quiz_con2 {
	text-align: left;
}
.quiz_con2 .q {
	font-size: 24px;
	font-weight: bold;
	padding: 20px 0;
}
.quiz_con2 .a label {
	display: block;
	font-size: 18px;
	padding-bottom: 8px;
	border-bottom: 1px solid #F0F0F0;
	margin-top: 20px;
	cursor: pointer;
}
.quiz_con2 .a label input {
	display: none;
}
.quiz_con2 .a label .check {
	float: left;
	width: 30px;
	height: 30px;
	background-image: url(../images/check.png);
	background-size:cover; 
	margin-right: 10px;
}
.quiz_con2 .a label.selected .check {
	background-image: url(../images/check_selected.png);
}
.quiz_con2 .a label.selected {
	font-weight: bold;
}
.quiz_con2 .a label .a1 {
	float: left;
	width: calc(100% - 40px);
	padding-top: 3px;
}
.time_count {
	width: 100px;
	border-radius: 100px;
	padding: 8px 30px;
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 26px;
	margin: 0 auto;
	margin-top: 70px;
}
.time_count span {
	text-align: center;
	display: block;
	font-size: 14px;
	line-height: 120%;
}
.time_count input {
	border:0;
	background: none;
	text-align: center;
	width: 100%;
	color: #fff;
	font-size: 26px;
	font-family: signikaff, helvetica, arial;
}
.quiz_finish .img-cover,
.quiz_finish .overlay{
	position: absolute;
	width: 100%;
	height:100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.quiz_finish .overlay {
	z-index: 2;
	background: rgba(255,255,255,0.5);
}
.quiz_finish .container {
	position: relative;
	z-index: 3;
	text-align: center;
	font-weight: bold;
}
.quiz_finish .container .logo {
	height: 80px;
	text-align: center;
	margin-top: 50px;
}
.quiz_finish .container .logo img {
	height: 100%;
}
.quiz_finish .container .title {
	padding: 30px 0;
	font-weight: bold;
	font-size: 42px;
}
.quiz_finish .container .desc b {
	font-size:20px;
}
.score {
	background: #FF9F00;
	color: #000;
	font-size: 28px;
	width: 150px;
	height: 50px;
	line-height: 50px;
	border:3px solid #000;
	border-radius: 100px;
	display: inline-block;
	font-weight: bold;
	margin-top: 5px;
}
.sosmed a{
	width: 180px;
	display: inline-block;
	margin: 10px;
	background: #004DA6;
	color:#fff;
	font-size: 16px;
	height: 45px;
	border-radius: 100px;
	line-height: 45px;
	text-align: left;
	font-weight: normal;
	padding: 0 20px;
	text-decoration: none;
}
.sosmed a img {
	height: 25px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
}
 .sosmed a:hover {
	background: #003C83;
}
 .sosmed .fb2 {
 	width: 200px
}
 .sosmed .tw {
	background: #00B8FF;
}

 .sosmed .tw:hover {
	background: #009FDD;
}
.link1 {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	background: #4A4A4A;
	text-align: center;
	height: 30px;
	width: 140px;
	line-height: 30px;
	display: inline-block;
	border-radius: 100px;
	font-weight: normal;
	font-size: 14px;
}
.link1:hover {
	background: #000;
}
.notif {
	background: red;
	border-radius: 100px;
	height: 40px;
	line-height: 40px;
	color: #fff;
}
.hints {
	display: none;
	padding: 10px;
	margin-top: 20px;
	background: #FFFABB;
	border:1px solid #EAE5A5;
}
.hints a{
	font-weight: bold;
	text-decoration: none;
	color: #000;
}
.hints a:hover {
	text-decoration: underline;
}
.language-box {
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 10px;
	z-index: 3;
}
.language-box .selectbox {
	display: block;
	height: 25px;
	line-height: 25px;
	font-size: 13px;
	padding: 0 40px 0 10px;
	background-image: url(../images/arrow_down.png);
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: right center;
	border:1px solid #9B9B9B;
	background-color:#fff; 
	font-weight: bold;
}
.language-box .selectbox:hover {
	cursor: pointer;
}
.language-box .box-select {
	display: none;
	position: absolute;
	width: 240px;
	border:1px solid #9B9B9B;
	padding: 10px 15px;
	background: #fff;
	z-index: 4;
	right: 0;
	margin-top: -1px;
	font-size: 13px;
}
.language-box .box-select .title {
	font-size: 14px;
	margin-bottom: 5px;
	text-transform: uppercase;
}
.language-box .box-select a {
	float: left;
	width: 50%;
	height: 24px;
	line-height: 24px;
	color: #000;
	text-decoration: none;
	font-size: 13px;
}
.language-box .box-select a:hover {
	text-decoration: underline;
	cursor: pointer;
}
.language-box:hover .box-select{
	display: block;
}


#header.smaller {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.39);
	-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.39);
	box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.39);
	-webkit-animation: move_bot 0.3s;
	/* Chrome, Safari, Opera */
	animation: move_bot 0.3s;
	top: 0;
}
#header.smaller .logo {
	height: 50px;
}
#header.smaller .logo img {
	width: 125px;
	height: 50px;
}
@-webkit-keyframes move_bot {
  /* line 500, ftf.style.scss */
  from {
    top: -50px;
  }
}
#header.smaller .nav {
	bottom: 15px;
}
#header.smaller .language-box {
	left: 200px;
	width: 200px;
	top: 25px;
}
#header.smaller .language-box .box-select {
	left: 0;
}
.howto {
	margin-top: 40px;
	position: relative;
	margin-bottom: 40px;
}
.howto .no {
	width: 30px;
	height: 30px;
	background: orange;
	color: #fff;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	border-radius: 100px;
	position: absolute;
	left: 0;
	top: 0;
}
.howto .title {
	font-size: 18px;
	font-weight: bold;
	padding-top: 3px;
	width: calc(100% - 40px);
	text-align: center;
}
.howto .h1 {
	width: calc(33.3% - 40px);
	margin: 10px 20px;
	float: left;
	position: relative;
	text-align: center;
}
.howto .h1 img {
	width: 100%;
	margin-top: 10px;
	margin-left: 30px;
}


.cover_theme {
	height: 150px;

}
.detail_text {
	padding: 30px 0;
}
.prize {
	text-align: center;
}
.prize img {
	height: 300px;
	margin-bottom: 15px;
}
.prize b {
	display: block;
	text-align: center;
	font-size: 28px;
	padding-bottom: 5px;
}
.toplead {
	text-align: center;
	padding: 50px 0;
	background: #F9F9F9;

}
.toplead h2 {
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}
.top-pos ul {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 400px;
	margin: 0 auto;
}
.top-pos ul li {
	display: block;
	padding: 7px 0;
	text-align: left;
}
.top-pos ul li .no {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background: orange;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	border-radius: 100px;
	margin-right: 10px;
}
.top-pos ul li .name {
	float: left;
	width: calc(100% - 40px);
	font-weight: bold;
	padding-top: 3px;
}
.batas {
	margin-top: 50px;
}
.prize {
	overflow: hidden;
	position: relative;
	z-index: 2;
}
.closing-image {
    width: 100%;
    background: #046;
    max-height: 350px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    bottom: 0;
}
.closing-image .footer-image {
    background-position: 100%;
    top: 0;
    background-size: 150%;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 1;
}
.overlay2 {
	background: rgba(255,255,255,0.8);
}
.s_komodo {
	color: #fff;
}
.s_prize {
	background: #F9F9F9;
}

.bounce-up .a1 {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 100px, 0px);
  -webkit-transform: translate3d(0px, 100px, 0px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate3d(0px, 100, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
.bounce-up .a2 {
	-webkit-transition-delay: .3s; /* Safari */
    transition-delay: .3s;
}
.bounce-up .a3 {
	-webkit-transition-delay: .6s; /* Safari */
    transition-delay: .6s;
}
.bounce-up .a4 {
	-webkit-transition-delay: .9s; /* Safari */
    transition-delay: .9s;
}
.bounce-up .a5 {
	-webkit-transition-delay: 1.2s; /* Safari */
    transition-delay: 1.2s;
}
.bounce-up .a6 {
	-webkit-transition-delay: 1.5s; /* Safari */
    transition-delay: 1.5s;
}
.bounce-up .a7 {
	-webkit-transition-delay: 1.8s; /* Safari */
    transition-delay: 1.8s;
}
.bounce-up .a8 {
	-webkit-transition-delay: 2.1s; /* Safari */
    transition-delay: 2.1s;
}
.bounce-up .a9 {
	-webkit-transition-delay: 2.4s; /* Safari */
    transition-delay: 2.4s;
}


.bounce-up.in-view .a1 {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
.img_gal .box_img {
	width: 33.3%;
	float: left;
}





