body {
	padding: 0;
	margin: 0;
	font-family: helvetica, arial;
	background: #f2f4f8;
}
.form {
  width: 350px;
  margin: 0 auto;
  background: #fff;
  padding: 20px;
  margin-top: 100px;
}
.form .input {
  display: block;
  border: 0;
  background: #f3f3f3;
  margin-top: 3px;
  margin-bottom: 10px;
  width: calc(100% - 20px);
  font-size: 15px;
  color: #5d5c5c;
  padding: 15px 10px;
}
.form strong {
  display: block;
  text-align: left;
  text-transform: uppercase;
  color: #5d5c5c;
  margin-top: 10px;
}
.form .btn {
  border: 0;
  background-color: #033d5b;
  padding: 15px 0;
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
}
.form a {
  color: #13c37f;
  text-decoration: none;
  margin-bottom: 5px;
}
.form a:hover {
  text-decoration: underline;
}
.notif {
  background: red;
  padding: 12px 8px;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  margin: 10px 0;
  font-weight: bold;
}