body {
  color: #000;
}
.clearfix {
  clear: both;
}
.mr10 {
  margin-right: 10px;
}
.action a {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 2px;
}
.action a img {
  height: 100%;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.title_page {
  padding: 0 20px;
}
.title_page a {
  margin-top: 20px;
}
.img_foto {
  height: 30px;
  border:1px solid #ccc;
}
.dk2 a {
  padding-left: 30px !important;
}
.dk3 a {
  padding-left: 40px !important;
}
.dk4 a {
  padding-left: 50px !important;
}
.control-label {
  text-transform: capitalize;
}
.panel-default .panel-heading {
  background: #8897b6;
  color: #fff;
}
.panel-default .panel-heading2 {
  background: #f1f4fb;
  color: #000;
}
.table1 {
  width: 100%;
}
.table1 td {
  padding: 5px;
}
.table1 td .chosen-container-single {
  width: 100% !important;
}
.table1 .delete {
  width: 40px;
  height: 40px;
  display: block;
}
.table1 .delete img {
  width: 100%;
}
.bg-light .active {
  background: #ced8ea;
}
.col-md-9 {
  width: 83%;
}
.table1 select {
  width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: 10px;
  padding-left: 10px;
}
.chosen-container-single .chosen-single {
  height: 35px !important;
  line-height: 30px !important;
}
.foto-form {
  display: block;
  overflow: hidden;
  width: 520px;
  border: 1px solid #eee;
  position: relative;
  padding: 10px;
}
.foto-form input {
  display: none;
}
.foto-form span {
  position: absolute;
  height: 35px;
  border: 1px solid #4A4A4A;
  border-radius: 100px;
  display: block;
  width: 50%;
  color: #4A4A4A;
  text-decoration: none;
  line-height: 35px;
  z-index: 2;
  text-align: center;
  top: 50%;
  left: 25%;
  background: #ccc;
  font-weight: bold;
}
.foto-form span:hover {
  background: #4A4A4A;
  color: #fff;
  cursor: pointer;
}
#imagePreview {
    width: 500px;
    height: 200px;
    background-image: url(../images/pic-default.png);
    background-size: cover;
}
#imagePreview img {
  width: 100%;
}
.lihatkota {
  background: #D0021B;
  font-size: 10px;
  color: #fff;
  font-weight: bold;
  height: 25px;
  margin-left: 30px;
  padding: 0 10px;
  border-radius: 100px;
  line-height: 25px;
  display: inline-block;
}
.lihatkota:hover {
  opacity: 0.7;
  color: #fff;
}


/*s:popup notification*/
.alertify,
.alertify-show,
.alertify-log {
  -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
     -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
      -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
       -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
  -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
      -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
          transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
  -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
     -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
      -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
       -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
          transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
  position: fixed; z-index: 99999;
  top: 0; right: 0; bottom: 0; left: 0;
  background: rgba(0,0,0,0.5);
}
.alertify-cover-hidden {
  display: none;
}
.alertify {
  position: fixed; z-index: 99999;
  top: 30%; 
  left: 50%;
  width: 400px;
  margin-left: -200px;
  opacity: 1;
}
.alertify-hidden {
  -webkit-transform: translate(0,-150px);
     -moz-transform: translate(0,-150px);
      -ms-transform: translate(0,-150px);
       -o-transform: translate(0,-150px);
          transform: translate(0,-150px);
  opacity: 0;
  display: none;
}
/* overwrite display: none; for everything except IE6-8 */
:root *> .alertify-hidden {
  display: block;
  visibility: hidden;
}
.alertify-logs-hidden {
  display: none;
}
.alertify-resetFocus {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.alertify-inner {
  text-align: center;
}
    


.alertify,
.alertify-log {
  font-family: arial;
}
.alertify {
  width: 400px;
  box-shadow: 0 3px 3px rgba(0,0,0,.3);
  background: #fff;
}
.alertify-dialog {
  background: #ffffff;
  padding: 0;
}
.alertify-message {
  padding: 30px 10px;
  font-size: 15px;
  background: #f1f1f1;
  color: #3d3d3d;
  margin: 0;
  font-weight: lighter;
}
.alertify-buttons {
  padding: 10px;
}
.alertify-text {
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 4px;
}
.alertify-button {
  color: #000;
  font-weight: normal;
  padding: 10px 30px;
  font-size: 12px;
  text-decoration: none;
  outline: none;
  margin-left: 5px;
  background: #008ae2;
  color: #fff;
  border: 0;
}
.alertify-button:hover {
  opacity: 0.8;
}
.alertify-button-cancel {
  background: red;
}
/*e:popup notification*/

.profil_view .panel-body {
  font-size: 14px;
}
.profil_l {
  width: 25%;
  float: left;
}
.profil_r {
  width: 73%;
  float: right;
  font-size: 14px;
  line-height: 180%;
}
.profil_r h1 {
  padding-left:15px; 
}
.profil_r .col-lg-3,
.profil_view .col-sm-2 {
  color: #737373;
}
.profil_view .table1 th {
  font-size: 14px;
  border-bottom: 1px solid #F0F0F0 !important;
  padding: 5px 0;
}
.pic_profil img {
  width: 100%;
}
.pt20 {
  padding-top: 20px;
}
.pt5 {
  padding-top: 5px;
}
.profil_view_print .profil_r .col-lg-3, 
.profil_view_print .col-sm-2 {
  width: 30%;
  float: left;
}
.profil_view_print .col-md-3 {
  float: left;
}
.pie-left {
  float: left;
  width: 70%;
}
.pie-right {
  float: right;
  width: 28%;
}
#flotTip {
  background: #000 !important;
  color: #fff;
}

/*s:profil*/

.mandatory {
  color: red;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  padding:3px;
}
.add-report-kar,
.add-report-per {
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 10px;
  cursor: pointer;
  float: left;
}
.add-report-kar:hover,
.add-report-per:hover {
  opacity: 0.7;
}
.add-report-kar img,
.add-report-per img {
  width: 100%;

}
.kar-2 {
  visibility: hidden; 
  visibility: show;
}
#kar-2,
#per-2 {
  margin-left: 10px;
}
.paging_bot {
  border-top: 1px solid #ccc;
}
.paging_bot .show_page,
.top_table .show_page {
  float: left;
  padding: 10px;
}
.paging_bot .pages,
.top_table .search {
  float: right;
   margin: 5px;
}
.top_table .search form {
  display: inline-block;
  margin-left: 15px;
}
.paging_bot .pages a {
  float: left;
  padding: 5px 10px;
  border:1px solid #f2f2f2;
}
.paging_bot .pages a.selected,
.paging_bot .pages a:hover {
  background: #52617e;
  color: #fff;
}
.nav-tabs a{
  color: #fff;
}
.clearfix {
  clear: both;
}
.mt20 {
  padding-top: 20px;
}
.tinymc {
  height: 300px;
}
.col-md-10 iframe {
  height: 300px !important;
}
.date_pick input {
  display: inline-block;
  width: 20%;
}
.table_user tr:nth-child(1) td,
.table_user tr:nth-child(2) td,
.table_user tr:nth-child(3) td {
  background: #FFB742 !important;
}
.answer .a1 {
  width: 20px;
  float: left;
  height: 35px;
  line-height: 35px;
}
.answer .a2 {
  width: 90%;
  float: left;
}
.answer .clearfix {
  padding-top: 5px;
}

.quiz-active {
  padding: 8px;
  background: #177bbb;
  color: #fff;
  height: 50px;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}
.quiz-active h3 {
  font-weight: bold !important;
}
.active img {
  height: 25px;
}







